#timeline {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#lastName, #boxes {
    display: flex;
    justify-content: center;
    width: 100%;
}

.lastLetter {
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 3.125em;
    position: relative;
    display: inline-block;
}

.form.github {
    opacity: 0;
    height: 100%;
    width: 30
}

.square {
    height: 80px;
    width: 80px;
    margin: 9px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 4.375em;
    background-color: #111116;
    border: 1px solid;
}

.box {
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
    background-color: #111116;
    border: 0.0625em solid;
    margin: 10em;
    color: #373748;
    border-color: #373748;
    border-radius: 0.5em;
    height: 2.5em;
    width: 5em;
    display: inline-block;
    position: static;
}

.line {
    display: block;
}

html,
body,
header {
    background-color: #111116;
    font-family: 'Thasadith', sans-serif;
    overflow: hidden;
}